* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
}

.Main {
	width: 800px;
	padding: 20px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid teal;
	margin-top: 15px;
	min-height: 130px;
}

.post__content {
	margin-right: 10px;
	flex: 0 0 85%;
}

.post__btns {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}